.nodesApp {
    &__editor {
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    &__btn {
        padding: 5px 8px;
        text-transform: uppercase;
        background: transparent;
        border: 1px solid #000;
    }
    &__container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
    &__node {
        width: 24%;
        padding: 10px;
        background: #DCDCDC;
        margin: 0 5px 5px 0;
        position: relative;
    }
    &__addition-field{

    }
    &__input{
        padding: 4px;
        margin: 5px;
    }
    &__del{
        position: absolute;
        right: 10px;
        top: 10px;
        border: 1px solid rgb(255, 255, 255);
        cursor: pointer;
        color: #fff;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        width: 25px;
        height: 25px;
        &:after{
            content: 'x';
        }
    }
}